<h2>Список клиентов</h2>
<p>Наши любимые посетители)</p>
</br>

<table class="table table-striped table-bordered"> <caption>Клиенты по записи:<option> 
  <thead> 
    <tr> 
      <th>№</th> 
      <th>Name</th> 
      <th>DateStamp</th> 
      <th>Phone</th> 
      <th>Barber</th> 
      <th>Color</th>
    </tr>
  </thead> 
  <tbody>
    <% @usr_table.each do |value| %>
      <tr>
        <th scope='row'><%="#{value['ID']}"%></th>
        <td><%="#{value['Name']}"%></td> 
        <td><%="#{value['DateStamp']}"%></td> 
        <td><%="#{value['Phone']}"%></td> 
        <td><%="#{value['Barber']}"%></td> 
        <td bgcolor="<%=value['Color']%>"><%=value['Color']%></td>
      </tr>
      <% end %>
      </tbody> 
</table>
